---
import MainLayout from "../layouts/MainLayout.astro";
const { searchParams } = new URL(Astro.request.url);
const error = searchParams.get("error");
const from = searchParams.get("from");
---

<MainLayout title="Hye Music">
  <h1 class="my-4 text-3xl font-semibold text-center">Login</h1>
  <form method="post" action="/api/login" class="space-y-4">
    {
      error && (
        <>
          <div class="bg-red-600/10 text-center py-3 rounded border-2 border-red-400">
            <p class="text-red-400">
              {error === "invalidFields" ? "Invalid Credentials" : error}
            </p>
          </div>
        </>
      )
    }
    <div class="flex flex-col max-w-[400px] mx-auto">
      {from && <input type="hidden" name="from" value={from} />}
      <label for="email">E-Mail</label>
      <input
        class="px-4 py-2 mt-3 transition-shadow rounded outline-none ring-2 ring-green-700 invalid:ring-red-400 placeholder-shown:ring-blue-900/60 ring-offset-2 ring-offset-slate-900 bg-black/40 focus:bg-black/60 focus:ring-blue-700"
        type="email"
        name="email"
        id="email"
        placeholder="user@email.com"
      />
    </div>
    <div class="flex flex-col max-w-[400px] mx-auto">
      <label for="password">Password</label>
      <input
        minlength="8"
        class="px-4 py-2 mt-3 transition-shadow rounded outline-none ring-2 ring-green-700 invalid:ring-red-400 placeholder-shown:ring-blue-900/60 ring-offset-2 ring-offset-slate-900 bg-black/40 focus:bg-black/60 focus:ring-blue-700"
        type="password"
        name="password"
        id="password"
        placeholder="∗∗∗∗∗∗∗∗"
      />
    </div>
    <div>
      <button
        class="block px-6 py-2 mx-auto mt-6 transition-shadow bg-blue-900 rounded shadow-sm"
      >
        Login
      </button>
    </div>
    <a
      class="block text-center text-sm font-light text-blue-400 underline"
      href="/home">Skip Login</a
    >
  </form>
</MainLayout>
