---
import MainLayout from "./MainLayout.astro";

export interface Props {
  activeTab: number;
}

const tabs = [
  ["Home", ""],
  ["Moods", "moods"],
  ["Artists", "artists"],
];

const { activeTab }: Props = Astro.props;
---

<MainLayout
  title={`Hye | ${tabs[activeTab][0]}`}
  headerProps={{
    links: {
      "/": "Logout",
    },
  }}
>
  <div class="flex items-center justify-center mb-6">
    <nav>
      <ul class="flex">
        {
          tabs.map(([title, path], i) => (
            <li>
              <a
                class={`px-4 py-2 border-b-2 border-transparent transition-colors duration-100 cursor-pointer select-none ${
                  i === activeTab ? "font-bold border-white" : ""
                }`}
                href={`/home/${path}`}
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <!-- <input
      class="block w-full max-w-lg px-4 py-2 mt-3 ml-auto transition-shadow rounded outline-none ring-2 ring-transparent placeholder-shown:ring-blue-900/60 ring-offset-2 ring-offset-slate-900 bg-black/40 focus:bg-black/60 focus:ring-blue-700"
      type="search"
      placeholder="Search..."
    /> -->
  </div>
  <div>
    <slot />
  </div>
</MainLayout>
